name: matrix test
on:
  workflow_dispatch:
    inputs:
      environment:
        required: true
        type: string
        default: dev
env:
  ACCOUNT_ID: 12345
  REGION: 'us-east-1'
jobs:
  my-job:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        environment: ["prod-us", "prod-eu"]

    steps:
      - name: Adjust vars
        id: env
        run: |
          if [[ ${{ inputs.environment }} == "stage" ]]; then
            echo "Set REGION for stage"
            echo "REGION=us-west-2" >> $GITHUB_ENV
          fi
      - name: Deploy
        env:
          environment: ${{ matrix.environment }}
        run: |
          echo "$environment"
          echo "${{ env.REGION }}"
