name: Reusable Workflow
on:
  workflow_dispatch:
    inputs:
      foo:
        description: Foo
        type: string
        required: true
      environment:
        description: The environment to deploy to
        type: choice
        required: true
        options:
          - dev
          - staging
          - prod        
  workflow_call:
    inputs:
      foo:
        description: Foo
        type: string
        required: true
      environment:
        description: The environment to deploy to. E.g. dev|staging|prod
        type: string
        required: true
permissions:
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 #v4
      - name: Debug 
        run: |
          echo "called..."
          echo "foo=${{ inputs.foo }}"
          # Validate stack
          if [[ ! "${{ github.event.inputs.environment }}" =~ ^(dev|staging|prod)$ ]]; then
            echo "Error: environment must be dev, staging, or prod"
            exit 1
          fi
          
